###############################################################################
# [ WARNING ]
# ceph configuration file maintained by the cinder-ceph-operator
# local changes may be overwritten.
###############################################################################
[global]
{% if ceph.auth -%}
auth_supported = {{ ceph.auth }}
mon host = {{ ceph.monitor_hosts }}
{% endif -%}
log to syslog = {{ options.use_syslog }}
err to syslog = {{ options.use_syslog }}
clog to syslog = {{ options.use_syslog }}
{% if ceph.rbd_features %}
rbd default features = {{ ceph.rbd_features }}
{% endif %}

[client]
{% if ceph_config.rbd_default_data_pool -%}
rbd default data pool = {{ ceph_config.rbd_default_data_pool }}
{% endif %}
