###############################################################################
# [ WARNING ]
# cinder-volume configuration file maintained by cinder-ceph-operator
# local changes will be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
debug = {{ options.debug }}
use_syslog = {{ options.use_syslog }}
auth_strategy = keystone
state_path = /var/lib/cinder

{% if amqp.transport_url %}
transport_url = {{ amqp.transport_url }}
{% endif %}

enabled_backends = {{ cinder_ceph.backend_name }}

[database]
{% if shared_db.database_host -%}
connection = {{ shared_db.database_type }}://{{ shared_db.database_user }}:{{ shared_db.database_password }}@{{ shared_db.database_host }}/{{ shared_db.database }}{% if shared_db.database_ssl_ca %}?ssl_ca={{ shared_db.database_ssl_ca }}{% if shared_db.database_ssl_cert %}&ssl_cert={{ shared_db.database_ssl_cert }}&ssl_key={{ shared_db.database_ssl_key }}{% endif %}{% endif %}
{% endif -%}
connection_recycle_time = 200

[{{ cinder_ceph.backend_name }}]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
rbd_exclusive_cinder_pool = True
report_discard_supported = True
rbd_flatten_volume_from_snapshot = True

volume_backend_name = {{ cinder_ceph.backend_name }}
rbd_pool = {{ cinder_ceph.rbd_pool }}
rbd_user = {{ cinder_ceph.rbd_user }}
rbd_secret_uuid = {{ cinder_ceph.secret_uuid }}

{% if cinder_ceph.backend_availability_zone %}
backend_availability_zone = {{ cinder_ceph.backend_availability_zone }}
{% endif %}
