[DEFAULT]

debug = {{ options.debug }}
auth_strategy = keystone

{% if amqp.transport_url -%}
transport_url = {{ amqp.transport_url }}
{% endif -%}

nova_catalog_admin_info = compute:nova:adminURL
{% if identity_service.admin_auth_url -%}
os_privileged_user_auth_url = {{ identity_service.admin_auth_url }}
{% elif identity_service.service_host -%}
os_privileged_user_auth_url = {{ identity_service.service_protocol }}://{{ identity_service.service_host }}:{{ identity_service.service_port }}
{% endif -%}
os_privileged_user_name = {{ identity_service.service_user_name }}
os_privileged_user_password = {{ identity_service.service_password }}
os_privileged_user_tenant = {{ identity_service.service_project_name }}
os_user_domain_name = {{ identity_service.service_domain_name }}
os_project_domain_name = {{ identity_service.service_domain_name }}
os_region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
nova_ca_certificates_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

graceful_shutdown_timeout = 5
use_syslog = False
masakari_api_workers = 2

{% if options.evacuation_delay -%}
wait_period_after_service_update = {{ options.evacuation_delay }}
{% endif %}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

[taskflow]
{% include "parts/database-connection" %}

[host_failure]
evacuate_all_instances = {{ options.evacuate_all_instances }}

[audit_middleware_notifications]
driver = log
