[DEFAULT]

debug = {{ options.debug }}

[api]
api_interface = admin
{% if identity_service.admin_auth_url -%}
auth_url = {{ identity_service.admin_auth_url }}
{% elif identity_service.service_host -%}
auth_url = {{ identity_service.service_protocol }}://{{ identity_service.service_host }}:{{ identity_service.service_port }}
{% endif -%}
project_domain_name = {{ identity_service.service_domain_name }}
user_domain_name = {{ identity_service.service_domain_name }}
project_name = {{ identity_service.service_project_name }}
username = {{ identity_service.service_user_name }}
password = {{ identity_service.service_password }}
project_domain_id = {{ identity_service.service_domain_id }}
user_domain_id = {{ identity_service.service_domain_id }}
region = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
cafile = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

[host]
{% if consul_management or consul_tenant or consul_storage -%}
monitoring_driver = consul
{% endif -%}
monitoring_interval = {{ options.monitoring_interval }}
monitoring_samples = {{ options.monitoring_samples }}

[consul]
{% if consul_management and consul_management.internal_http_endpoint -%}
agent_manage = {{ consul_management.internal_http_endpoint }}
{% endif -%}

{% if consul_tenant and consul_tenant.internal_http_endpoint -%}
agent_tenant = {{ consul_tenant.internal_http_endpoint }}
{% endif -%}

{% if consul_storage and consul_storage.internal_http_endpoint -%}
agent_storage = {{ consul_storage.internal_http_endpoint }}
{% endif -%}

matrix_config_file = /etc/masakari/matrix.yaml
