[DEFAULT]

debug = {{ options.debug }}
auth_strategy = keystone

{% if amqp.transport_url -%}
transport_url = {{ amqp.transport_url }}
{% endif -%}

{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
nova_ca_certificates_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

graceful_shutdown_timeout = 5
os_privileged_user_tenant = {{ identity_service.service_project_name }}
os_privileged_user_password = {{ identity_service.service_password }}
os_privileged_user_auth_url = {{ identity_service.admin_auth_url }}
os_privileged_user_name = {{ identity_service.admin_user_name }}
use_syslog = False
masakari_api_workers = 2

{% if options.evacuation_delay -%}
wait_period_after_service_update = {{ options.evacuation_delay }}
{% endif %}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

[taskflow]
{% include "parts/database-connection" %}

[host_failure]
evacuate_all_instances = {{ options.evacuate_all_instances }}
