{% if amphora_certs.lb_mgmt_issuing_cacert -%}
{{ amphora_certs.lb_mgmt_issuing_cacert }}
{% endif -%}
{% if amphora_certs.lb_mgmt_issuing_ca_root -%}
{{ amphora_certs.lb_mgmt_issuing_ca_root }}
{% endif -%}
