variables:
  constraints: &constraints cores=1 mem=1G virt-type=virtual-machine

machines:
  '0':
    constraints: *constraints
    base: ubuntu@22.04

applications:
  sunbeam-machine:
    {% if sunbeam_machine is defined and sunbeam_machine is sameas true -%}
    charm: ../../../sunbeam-machine.charm
    {% else -%}
    charm: ch:sunbeam-machine
    channel: 2024.1/edge
    {% endif -%}
    base: ubuntu@22.04
    constraints: *constraints
    scale: 1
    to:
     - '0'
  sunbeam-clusterd:
    {% if sunbeam_clusterd is defined and sunbeam_clusterd is sameas true -%}
    charm: ../../../sunbeam-clusterd.charm
    {% else -%}
    charm: ch:sunbeam-clusterd
    channel: 2024.1/edge
    {% endif -%}
    base: ubuntu@22.04
    constraints: *constraints
    scale: 1
    to:
     - '0'
  tls-operator:
    charm: self-signed-certificates
    channel: latest/beta
    base: ubuntu@22.04
    scale: 1
    options:
      ca-common-name: internal-ca
    to:
     - '0'

relations:
- - tls-operator:certificates
  - sunbeam-clusterd:certificates
