variables:
  constraints: &constraints cores=1 mem=1G virt-type=virtual-machine

machines:
  '0':
    constraints: *constraints
    base: ubuntu@24.04

applications:
  sunbeam-machine:
    {% if sunbeam_machine is defined and sunbeam_machine is sameas true -%}
    charm: ../../../sunbeam-machine.charm
    {% else -%}
    charm: ch:sunbeam-machine
    channel: 2024.1/edge
    {% endif -%}
    base: ubuntu@24.04
    constraints: *constraints
    scale: 1
    to:
     - '0'
  sunbeam-clusterd:
    {% if sunbeam_clusterd is defined and sunbeam_clusterd is sameas true -%}
    charm: ../../../sunbeam-clusterd.charm
    {% else -%}
    charm: ch:sunbeam-clusterd
    channel: 2024.1/edge
    {% endif -%}
    base: ubuntu@24.04
    constraints: *constraints
    scale: 1
    to:
     - '0'
  tls-operator:
    charm: self-signed-certificates
    channel: 1/beta
    base: ubuntu@24.04
    scale: 1
    options:
      ca-common-name: internal-ca
    to:
     - '0'
  epa-orchestrator:
    {% if epa_orchestrator is defined and epa_orchestrator is sameas true -%}
    charm: ../../../epa-orchestrator.charm
    {% else -%}
    charm: ch:epa-orchestrator
    channel: latest/edge
    {% endif -%}
    base: ubuntu@24.04
    constraints: *constraints
  manila-data:
    {% if manila_data is defined and manila_data is sameas true -%}
    charm: ../../../manila-data.charm
    {% else -%}
    charm: ch:manila-data
    channel: 2024.1/edge
    {% endif -%}
    base: ubuntu@24.04
    constraints: *constraints
    scale: 1
    to:
     - '0'

relations:
- - tls-operator:certificates
  - sunbeam-clusterd:certificates
- - sunbeam-machine:sunbeam-machine
  - epa-orchestrator:sunbeam-machine
