.cursor
venv/
build/
.idea/
.vscode/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
**.swp
.stestr/
*.auth
*.pub
*.token
tests/*/bundles/

# test help files created by common.sh, used in unittests
charms/*/.jujuignore
charms/*/.stestr.conf
charms/*/lib/
charms/*/src/templates/parts/
!charms/horizon-k8s/lib/
!charms/keystone-saml-k8s/lib/
!charms/cinder-ceph-volume/lib/
# artefacts from functional tests
tempest.log
