stestr
coverage

tenacity                   # ops-sunbeam
ops                        # all charms
lightkube                  # almost all charms
pwgen                      # keystone-k8s
python-keystoneclient      # keystone-k8s
cryptography               # neutron-k8s
jsonschema                 # neutron-k8s
pytest-interface-tester    # barbican-k8s
ops-scenario<7             # barbican-k8s, see bug https://github.com/canonical/pytest-interface-tester/issues/23
pydantic                   # traefik-k8s ingress lib
requests                   # cinder-ceph-k8s
netifaces                  # cinder-ceph-k8s
cosl                       # openstack-exporter
croniter                   # tempest-k8s
git+https://github.com/juju/charm-helpers.git#egg=charmhelpers                               # cinder-ceph-k8s,glance-k8s,gnocchi-k8s
git+https://opendev.org/openstack/charm-ops-interface-ceph-client#egg=interface_ceph_client  # cinder-ceph-k8s
requests-unixsocket # sunbeam-clusterd
openstacksdk               # tempest-k8s

types-PyYAML # types stub for mypy
