stestr
coverage

tenacity                   # ops-sunbeam
ops[testing]>=2.17.0       # all charms, private paths have moved
lightkube                  # almost all charms
pwgen                      # keystone-k8s
python-keystoneclient      # keystone-k8s
cryptography               # neutron-k8s
jsonschema                 # neutron-k8s
pytest-interface-tester    # barbican-k8s
pydantic                   # traefik-k8s ingress lib
requests                   # cinder-ceph-k8s
netifaces                  # cinder-ceph-k8s
cosl                       # openstack-exporter
git+https://github.com/juju/charm-helpers.git#egg=charmhelpers                               # cinder-ceph-k8s,glance-k8s,gnocchi-k8s
git+https://opendev.org/openstack/charm-ops-interface-ceph-client#egg=interface_ceph_client  # cinder-ceph-k8s
requests-unixsocket # sunbeam-clusterd
openstacksdk               # tempest-k8s

types-PyYAML # types stub for mypy

# due to https://github.com/corpusops/croniter/issues/144
# we might need to find an alternative for croniter project
croniter==5.0.1            # tempest-k8s

lightkube-extensions @ git+https://github.com/canonical/lightkube-extensions.git@main        # ovn-relay-k8s,designate-bind-k8s
