ops
jinja2
lightkube
lightkube-models
# COS requirement
cosl

# From ops_sunbeam
tenacity

# for validating cron expressions
# due to https://github.com/corpusops/croniter/issues/144
# we might need to find an alternative for croniter project
croniter==5.0.1

# for handling cleanup
openstacksdk
