{
    "secret:get": "rule:secret_project_match or rule:secret_acl_read or role:key-manager:service-admin",
    "secret:decrypt": "rule:secret_project_match or rule:secret_acl_read or role:key-manager:service-admin"
}
