[loggers]
keys=root,oslo.messaging.notification

[formatters]
keys=normal,normal_with_name,debug,context

[handlers]
keys=production,devel,oslo.messaging.notification

[logger_root]
{% if ks_logging.root_level -%}
level={{ ks_logging.root_level }}
{% else -%}
level=INFO
{% endif -%}
handlers=production

[handler_production]
class=StreamHandler
{% if ks_logging.log_level -%}
level={{ ks_logging.log_level }}
{% else -%}
level=INFO
{% endif -%}
formatter=context
args=(sys.stdout,)

[logger_oslo.messaging.notification]
level=INFO
handlers=oslo.messaging.notification
qualname=oslo.messaging.notification

[handler_oslo.messaging.notification]
class=StreamHandler
level=INFO
formatter=context
args=(sys.stdout,)

[handler_file]
class=FileHandler
level=DEBUG
formatter=context
# args=('/var/log/keystone/keystone.log', 'a')

[handler_devel]
class=StreamHandler
level=NOTSET
formatter=debug
args=(sys.stdout,)

[formatter_normal]
format=%(asctime)s %(levelname)s %(message)s

[formatter_normal_with_name]
format=(%(name)s): %(asctime)s %(levelname)s %(message)s

[formatter_debug]
format=(%(name)s): %(asctime)s %(levelname)s %(module)s %(funcName)s %(message)s

[formatter_context]
class=oslo_log.formatters.ContextFormatter
datefmt=%Y-%m-%d %H:%M:%S
