Listen 0.0.0.0:{{ ks_config.public_port }}

<VirtualHost *:{{ ks_config.public_port }}>
    {% if ks_config.server_name %}
    ServerName {{ks_config.server_name}}
    {% endif %}
    WSGIDaemonProcess keystone-public processes=4 threads=1 user=keystone group=keystone display-name=%{GROUP} python-path=/usr/lib/python3/site-packages
    WSGIProcessGroup keystone-public
    {% if ingress_internal and ingress_internal.ingress_path -%}
    WSGIScriptAlias {{ ingress_internal.ingress_path }} /usr/bin/keystone-wsgi-public
    {% endif -%}
    WSGIScriptAlias / /usr/bin/keystone-wsgi-public
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    <IfVersion >= 2.4>
      ErrorLogFormat "%{cu}t %M"
    </IfVersion>
    ErrorLog {{ wsgi_config.error_log }}
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
    CustomLog {{ wsgi_config.custom_log }} logformat

    <Directory /usr/bin>
        <IfVersion >= 2.4>
            Require all granted
        </IfVersion>
        <IfVersion < 2.4>
            Order allow,deny
            Allow from all
        </IfVersion>
    </Directory>
    {% include "apache2-oidc-params" %}
    {% include "apache2-saml-params" %}
</VirtualHost>
