# Do not change this file, this file is managed by juju.
# This is a dedicated system-wide crontab for running tempest periodically.

SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
PEBBLE_SOCKET=/charm/container/pebble.socket

{% if tempest.schedule %}
# Note that the process lock is shared between ad hoc check and this periodic check.
# Run this through pebble, so that the charm can configure pebble to run the service with the cloud credentials.
{{ tempest.schedule }} root pebble start periodic-test
{% endif %}
