#!/bin/bash
# Do not change this file, this file is managed by juju.

# set -e is important, to ensure the script bails out
# if there are issues, such as lock not acquired,
# or failure in one of the tempest steps.
set -ex

(flock -n 9 || (echo "lock could not be acquired"; exit 1)

discover-tempest-config --test-accounts "$TEMPEST_TEST_ACCOUNTS" --out "$TEMPEST_CONF"

TMP_FILE="$(mktemp)"
tempest run --workspace "$TEMPEST_WORKSPACE" "$@" 2>&1 > "$TMP_FILE"
mv "$TMP_FILE" "$TEMPEST_OUTPUT"

awk '/^Totals$/,/Sum of execute/ { print }' < $TEMPEST_OUTPUT

) 9>/var/lock/tempest
