- name: Download charms
  ansible.builtin.include_tasks:
    file: download.yaml
  when: not skip_charm_download

- name: run smoke tests
  ansible.builtin.command:
    cmd: "{{ tox_executable }} -e func -- --smoke --test-directory={{ test_dir }}"
    chdir: "{{ zuul.project.src_dir }}"
