[DEFAULT]
# default target endpoint type
# should match the endpoint type defined in service catalog
target_endpoint_type = rating

# map urls ending with specific text to a unique action
# Don't need custom mapping for other resource operations
# Note: action should match action names defined in CADF taxonomy
[custom_actions]


# path of api requests for CADF target typeURI
# Just need to include top resource path to identify class of resources
[path_keywords]


# map endpoint type defined in service catalog to CADF typeURI
[service_endpoints]
rating=service/rating
