###############################################################################
# [ WARNING ]
# cloudkitty configuration file maintained by Juju
# local changes may be overwritten.
###############################################################################
[DEFAULT]
debug = {{ options.debug }}
transport_url = {{ amqp.transport_url }}
auth_strategy = keystone

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

{% include "parts/section-service-user" %}

[oslo_concurrency]
lock_path = /var/lib/cloudkitty/tmp

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log


{% include "parts/section-storage" %}

{% include "parts/section-fetcher" %}

{% include "parts/section-collect" %}