cryptography
ops >= 1.5.0
pyroute2
netifaces
jsonschema
jinja2
cosl==0.0.24
pydantic

# This charm does not use lightkube* but ops_sunbeam requires it atm
lightkube
lightkube-models

# From ops_sunbeam
tenacity
