# This file is managed centrally by release-tools and should not be modified
# within individual charm repos.  See the 'global' dir contents for available
# choices of *requirements.txt files for OpenStack Charms:
#     https://github.com/openstack-charmers/release-tools
#

coverage
mock
flake8
stestr
ops
cosl==0.0.5 ; python_version >= "3.8"
pydantic==1.10.12 ; python_version >= "3.8"
# Subunit 1.4.3+ requires extras
extras
