#!/usr/bin/bash

WRAPPER_LOG=/var/log/ovn/service_wrapper.log

function log_msg()
{
    msg=$1
    echo "$(date): $msg" >> $WRAPPER_LOG 
}

function stop_svc()
{
    log_msg "Stopping"
    /usr/share/ovn/scripts/ovn-ctl stop_northd 2>&1
}

trap stop_svc EXIT

log_msg "Starting"

# Switch to using ovn-ctl if its possible to stop --detach
# being set

ovn-northd \
    -vconsole:emer \
    -vsyslog:err \
    -vfile:info \
    --ovnnb-db={{ peers.db_nb_connection_strs|join(',') }} \
    --ovnsb-db={{ peers.db_sb_connection_strs|join(',') }} \
    -c {{ ovs_db.ovn_cert }} \
    -C {{ ovs_db.ovn_ca_cert }} \
    -p {{ ovs_db.ovn_key }} \
    --no-chdir \
    --log-file=/var/log/ovn/ovn-northd.log \
    --pidfile=/var/run/ovn/ovn-northd.pid

