cluster-config:
  network:
    enabled: true
  dns:
    enabled: true
    cluster-domain: cluster.local
  ingress:
    enabled: false
  load-balancer:
    enabled: true
    cidrs:
    - {{ k8s_load_balancer_cidr }}
    l2-mode: true
  local-storage:
    enabled: true
    default: true
  gateway:
    enabled: false
  metrics-server:
    enabled: false
pod-cidr: {{ k8s_pod_cidr }}
