[DEFAULT]
debug = {{ options.debug }}
api_paste_config = /etc/aodh/api-paste.ini

{% if amqp.transport_url -%}
transport_url = {{ amqp.transport_url }}
{%- endif %}

[api]
gnocchi_external_project_owner = services
{% if identity_service.service_domain_name -%}
gnocchi_external_domain_name = {{ identity_service.service_domain_name }}
{% endif %}

{% include "parts/section-database" %}
alarm_history_time_to_live = {{ options.alarm_history_time_to_live }}
alarm_histories_delete_batch_size = {{ options.alarm_histories_delete_batch_size }}

{% include "parts/section-identity" %}

{% include "parts/section-service-credentials" %}

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
