[DEFAULT]
debug = {{ options.debug }}

instance_driver=heat.engine.nova
plugin_dirs = /usr/lib64/heat,/usr/lib/heat
environment_dir=/etc/heat/environment.d
host=heat
auth_encryption_key={{ heat.auth_encryption_key }}
stack_domain_admin={{ heat.stack_domain_admin_user }}
stack_domain_admin_password={{ heat.stack_domain_admin_password }}
stack_user_domain_name={{ heat.stack_domain_name }}

transport_url = {{ amqp.transport_url }}

num_engine_workers = 4

{% include "parts/section-database" %}

{% include "parts/section-identity" %}


[paste_deploy]
api_paste_config=/etc/heat/api-paste-cfn.ini

[heat_api]
bind_port = 8004
workers = 4

[heat_api_cfn]
bind_port = 8000
workers = 4

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
