[DEFAULT]
debug = {{ options.debug }}

instance_driver=heat.engine.nova
plugin_dirs = /usr/lib64/heat,/usr/lib/heat
environment_dir=/etc/heat/environment.d
deferred_auth_method=password
host=heat
auth_encryption_key={{ peers.auth_encryption_key }}

transport_url = {{ amqp.transport_url }}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}


[paste_deploy]
api_paste_config=/etc/heat/api-paste.ini

[heat_api]
bind_port=8004

[heat_api_cfn]
bind_port=8000
