###############################################################################
# [ WARNING ]
# cinder configuration file maintained by Juju
# local changes may be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
debug = {{ options.debug }}
transport_url = {{ amqp.transport_url }}
auth_strategy = keystone
os_region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
glance_ca_certificates_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

[glance]
auth_section = keystone_authtoken
service_type = image
service_name = glance
{% set client_region = options.region -%}
{% set client_ca_key = "cafile" -%}
{% include "parts/client-valid-interfaces-admin" %}

[nova]
auth_section = service_user
{% set client_region = options.region -%}
{% set client_ca_key = "cafile" -%}
{% include "parts/client-interface-admin" %}

[barbican]
auth_section = keystone_authtoken
{% set client_region = options.region -%}
{% set client_ca_key = "verify_ssl_path" -%}
{% include "parts/client-interface-admin" %}

{% include "parts/section-service-user" %}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

{% include "parts/section-oslo-middleware" %}

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
