###############################################################################
# [ WARNING ]
# cinder configuration file maintained by Juju
# local changes may be overwritten.
###############################################################################
[DEFAULT]
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
debug = {{ options.debug }}
transport_url = {{ amqp.transport_url }}
auth_strategy = keystone

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

{% include "parts/section-service-user" %}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
