###############################################################################
# [ WARNING ]
# glance configuration file maintained by Juju
# local changes may be overwritten.
###############################################################################
[DEFAULT]
debug = {{ options.debug }}
{% if amqp %}
transport_url = {{ amqp.transport_url }}
{% endif %}
bind_port = 9282
workers = 4
image_size_cap = {{ glance_config.image_size_cap }}

enabled_backends = {{ glance_config.enabled_backends }}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}

{% include "parts/section-service-user" %}

{% include "parts/section-oslo-notifications" %}

[glance_store]
{% if ceph.auth %}
default_backend = ceph
{% else %}
default_backend = filestore
{% endif %}

[filestore]
filesystem_store_datadir = /var/lib/glance/images/

{% if ceph.auth %}
[ceph]
rbd_store_chunk_size = 8
rbd_store_pool = glance
rbd_store_user = glance
rados_connect_timeout = 0
rbd_store_ceph_conf = /etc/ceph/ceph.conf
{% endif %}

{% if 'swift:swift' in glance_config.enabled_backends %}
[swift]
swift_store_config_file = /etc/glance/glance-api.d/01-swift.conf
swift_store_region = {{ options.region }}
swift_store_container = glance
swift_store_create_container_on_put = True
{% endif %}

[paste_deploy]
flavor = keystone

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
