Listen 9292

<VirtualHost *:9292>
  ProxyPreserveHost On
  ProxyRequests Off
  {% if ingress_internal and ingress_internal.ingress_path -%}
  ProxyPass {{ ingress_internal.ingress_path }} http://localhost:9282/
  ProxyPassReverse {{ ingress_internal.ingress_path }} http://localhost:9282/
  {% endif -%}
  ProxyPass / http://localhost:9282/
  ProxyPassReverse / http://localhost:9282/
  ErrorLog {{ wsgi_config.error_log }}
  CustomLog {{ wsgi_config.custom_log }} combined
</VirtualHost>

