[DEFAULT]
lock_path = /var/lock/nova
state_path = /var/lib/nova
debug = {{ options.debug }}
api_paste_confg = /etc/nova/api-paste.ini

transport_url = {{ amqp.transport_url }}

[api_database]
{% if api_database.connection -%}
connection = {{ api_database.connection }}
{% else -%}
connection = sqlite:////var/lib/nova/nova_api.sqlite
{% endif -%}
{% include "parts/database-connection-settings" %}

{% include "parts/section-database" %}

[glance]
service_type = image
service_name = glance
valid_interfaces = admin
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
cafile = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

{% include "parts/section-identity" %}

[neutron]
{% include "parts/identity-data" %}
region_name = {{ options.region }}

[placement]
{% include "parts/identity-data" %}
region_name = {{ options.region }}

{% include "parts/section-service-user" %}

[cells]
enable = False

[conductor]
workers = 4

[pci]
{% for alias in nova.pci_aliases -%}
alias = {{ alias }}
{% endfor -%}

[filter_scheduler]
enabled_filters = ComputeFilter, ComputeCapabilitiesFilter, ImagePropertiesFilter, ServerGroupAntiAffinityFilter, ServerGroupAffinityFilter, PciPassthroughFilter, NUMATopologyFilter
available_filters = nova.scheduler.filters.all_filters
# https://docs.openstack.org/nova/latest/admin/pci-passthrough.html
pci_in_placement = True

[scheduler]
# NOTE(jamespage): perform automatic host cell mapping
#                  until we can orchestrate this better
#                  using the nova-cc <--> nova-compute
#                  relation
discover_hosts_in_cells_interval = 30

workers = 4

[os_region_name]
openstack = 

{% include "parts/section-oslo-messaging-rabbit" %}

[audit_middleware_notifications]
driver = log
