[DEFAULT]
log_dir = /var/log/nova
lock_path = /var/lock/nova
state_path = /var/lib/nova

transport_url = {{ amqp.transport_url }}

[api_database]
{% if shared_db.nova_api -%}
connection = {{ shared_db.nova_api.connection }}
{% else -%}
connection = sqlite:////var/lib/nova/nova_api.sqlite
{% endif -%}
connection_recycle_time = 200

[database]
{% if shared_db.nova -%}
connection = {{ shared_db.nova.connection }}
{% else -%}
connection = sqlite:////var/lib/nova/nova.sqlite
{% endif -%}

[glance]
service_type = image
service_name = glance
valid_interfaces = internal
region_name = {{ options.region }}

[keystone_authtoken]
{% include "parts/section-identity" %}

[neutron]
{% include "parts/section-identity" %}

[placement]
{% include "parts/section-identity" %}

[cells]
enable = False


[os_region_name]
openstack = 
