[DEFAULT]
debug = {{ options.debug }}
lock_path = /var/lock/magnum
state_path = /var/lib/magnum

transport_url = {{ amqp.transport_url }}

{% include "parts/section-database" %}

{% include "parts/section-identity" %}
region_name = {{ options.region }}

[keystone_auth]
auth_section = keystone_authtoken

{% include "parts/section-service-user" %}

{% include "parts/section-trust" %}

[oslo_messaging_notifications]
driver = messaging

# Update region name from relations

[cinder_client]
endpoint_type = adminURL
region_name = {{ options.region }}

[api]
api_paste_config=/etc/magnum/api-paste.ini
workers = 4

[conductor]
workers = 4

{% include "parts/section-oslo-messaging-rabbit" %}

[glance_client]
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
ca_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

[heat_client]
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
ca_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

[neutron_client]
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
ca_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

[nova_client]
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
ca_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}

[octavia_client]
region_name = {{ options.region }}
{% if receive_ca_cert and receive_ca_cert.ca_bundle -%}
ca_file = /usr/local/share/ca-certificates/ca-bundle.pem
{% endif -%}
