Listen {{ httpd_config.public_port }}

<VirtualHost *:{{ httpd_config.public_port }}>
  DocumentRoot "/var/www/html/simplestreams"

 {% if ingress_public and ingress_public.ingress_path %}
  Alias {{ ingress_public.ingress_path }} "/var/www/html/simplestreams"
 {% endif %}

  <Directory "/var/www/html/simplestreams">
    Options Indexes
    AllowOverride None
    Require all granted
  </Directory>

  ErrorLog {{ httpd_config.error_log }}
  CustomLog {{ httpd_config.custom_log }} combined
</VirtualHost>
