# This file is managed centrally by release-tools and should not be modified
# within individual charm repos.  See the 'global' dir contents for available
# choices of *requirements.txt files for OpenStack Charms:
#     https://github.com/openstack-charmers/release-tools
#

cryptography
jinja2
jsonschema
pydantic
lightkube
lightkube-models
ops
# Pin requests < 2.32.0 pending resolution of LP: #2066540
requests<2.32.0 # Apache 2
requests-unixsocket # Apache 2
urllib3<1.27,>=1.21.1 # MIT
tenacity

