# This file is managed centrally by release-tools and should not be modified
# within individual charm repos.  See the 'global' dir contents for available
# choices of *requirements.txt files for OpenStack Charms:
#     https://github.com/openstack-charmers/release-tools
#

cryptography
jinja2
jsonschema
pydantic
lightkube
lightkube-models
ops
netifaces

git+https://opendev.org/openstack/charm-ops-interface-tls-certificates#egg=interface_tls_certificates

# Note: Required for cinder-ceph-k8s, glance-k8s
git+https://opendev.org/openstack/charm-ops-interface-ceph-client#egg=interface_ceph_client
# Charmhelpers is only present as interface_ceph_client uses it.
git+https://github.com/juju/charm-helpers.git#egg=charmhelpers

# From ops_sunbeam
tenacity
