###############################################################################
# [ WARNING ]
# Configuration file maintained by Juju. Local changes may be overwritten.  
###############################################################################
[ml2]
extension_drivers = {{ ovn.extension_drivers }}
type_drivers = {{ ovn.type_drivers }}
tenant_network_types = {{ ovn.tenant_network_types }}
mechanism_drivers = {{ ovn.mechanism_drivers }}

path_mtu = {{ ovn.path_mtu }}

[ml2_type_gre]
tunnel_id_ranges = {{ ovn.tunnel_id_ranges }}

[ml2_type_vxlan]
vni_ranges = {{ ovn.vni_ranges }}

[ml2_type_vlan]
network_vlan_ranges = {{ options.vlan_ranges.split(' ') | join(',') }}

[ml2_type_flat]
flat_networks = {{ ovn.flat_networks }}

[ovs]
enable_tunneling = {{ ovn.enable_tunneling }}
# local_ip = {{ ovn.local_ip }}

[agent]
tunnel_types = {{ ovn.tunnel_types }}

[securitygroup]
enable_security_group = {{ ovn.enable_security_group }}

[ovn]
ovn_nb_connection = {{ ovsdb_cms.db_nb_connection_strs }}
ovn_nb_private_key = {{ ovn.ovn_key }}
ovn_nb_certificate = {{ ovn.ovn_cert }}
ovn_nb_ca_cert = {{ ovn.ovn_ca_cert }}
ovn_sb_connection = {{ ovsdb_cms.db_sb_connection_strs }}
ovn_sb_private_key = {{ ovn.ovn_key }}
ovn_sb_certificate = {{ ovn.ovn_cert }}
ovn_sb_ca_cert = {{ ovn.ovn_ca_cert }}
ovn_l3_scheduler = {{ ovn.ovn_l3_scheduler }}
ovn_metadata_enabled = {{ ovn.ovn_metadata_enabled }}
enable_distributed_floating_ip = {{ ovn.enable_distributed_floating_ip }}
dns_servers = {{ ovn.dns_servers }}
dhcp_default_lease_time = {{ ovn.dhcp_default_lease_time }}
ovn_dhcp4_global_options = {{ ovn.ovn_dhcp4_global_options }}
ovn_dhcp6_global_options = {{ ovn.ovn_dhcp6_global_options }}
vhost_sock_dir = {{ ovn.vhost_sock_dir }}

[ml2_type_geneve]
vni_ranges = {{ ovn.vni_ranges }}
max_header_size = {{ ovn.max_header_size }}
