###############################################################################
# [ WARNING ]
# manila configuration file maintained by Juju
# local changes may be overwritten.
###############################################################################

[DEFAULT]
rootwrap_config = /etc/manila/rootwrap.conf
api_paste_config = /etc/manila/api-paste.ini
debug = {{ options.debug }}
transport_url = {{ amqp.transport_url }}
auth_strategy = keystone

{%- if cephfs_config.share_backend_name %}
enabled_share_backends = {{ cephfs_config.share_backend_name | lower }}
{%- endif %}

{% include "parts/section-database" %}

[keystone_authtoken]
{% if identity_credentials.region -%}
region_name = {{ identity_credentials.region }}
{% if identity_credentials.region -%}
{% include "parts/identity-data-id-creds" %}

{% include "parts/section-service-credentials-from-identity-service" %}

{% include "parts/section-oslo-messaging-rabbit" %}

[oslo_concurrency]
lock_path = /var/lib/manila/tmp

{% if cephfs_config.share_backend_name -%}
[{{ cephfs_config.share_backend_name | lower }}]
driver_handles_share_servers = False
share_driver = manila.share.drivers.cephfs.driver.CephFSDriver
cephfs_conf_path = /etc/ceph/ceph.conf
cephfs_protocol_helper_type = NFS

share_backend_name = {{ cephfs_config.share_backend_name }}
cephfs_auth_id = {{ cephfs_config.cephfs_auth_id }}
cephfs_cluster_name = {{ cephfs_config.cephfs_cluster_name }}
cephfs_nfs_cluster_id = {{ cephfs_config.cephfs_cluster_name }}
cephfs_filesystem_name = {{ cephfs_config.cephfs_filesystem_name }}
{% endif -%}
